@import './variables.module.scss';
@import './functions.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $main;
  background: $dark-1;
  color: $light-0;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: $light-1;
  font-family: $main;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: $light-0;
}

.container {
  margin: 0 2rem;
  max-width: 1200px;
  // border: 1px dashed red;

  @media (min-width: calc(1200px + 2rem)) {
    margin: 0 auto;
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
