// palette
$primary: #ff3d00;
$secondary: #ff794f;

$dark-3: #2a2a2a;
$dark-2: #1a1a1a;
$dark-1: #141414;
$dark-0: #000000;

$light-1: #bebebe;
$light-0: #ffffff;

$woof-diet: #fff940;
$woof-rest: #4089ff;
$woof-security: #40ff76;
$woof-health: #ff4040;
$woof-hygiene: #ff9640;

// typography
$main: 'Montserrat';
$sub: 'Ubuntu';

// metrics
$title: 48px;
$subtitle: 24px;

:export {
  primary: $primary;
  secondary: $secondary;

  dark3: $dark-3;
  dark2: $dark-2;
  dark1: $dark-1;
  dark0: $dark-0;

  light1: $light-1;
  light0: $light-0;

  woofDiet: $woof-diet;
  woofRest: $woof-rest;
  woofSecurity: $woof-security;
  woofHealth: $woof-health;
  woofHygiene: $woof-hygiene;
}
