// palette
$primary: #ff5c00;
$secondary: #ff794f;

$dark-3: #2a2a2a;
$dark-2: #1a1a1a;
$dark-1: #141414;
$dark-0: #000000;

$light-1: #bebebe;
$light-0: #ffffff;

// typography
$main: 'Montserrat';
$sub: 'Ubuntu';

// metrics
$title: 48px;
$subtitle: 24px;
